.before-start {
    margin: 6% auto;
    padding-bottom: 20px;
    width: 270px;
    border-radius: 9px;
    box-shadow: inset 0 0 18px rgba(255, 255, 255, 0.35);
    z-index: 1;
    text-align: center;
}

.before-start div {
    padding: 20px 35px;
}
/*
.before-start div:last-child {
    height: 300px;
}
*/
.before-start a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 22px; 
    text-align: left; 
}
.before-start .grey-color {
    color: #d2d2d2;
}

/*
.before-start a:hover {
    color: #fead00;
}
*/

