.map {
	position: relative;
/*
	width: 900px;
	height: 600px;
*/
	margin: 0px auto;
/* 	right: 70px; */
	bottom: 20px;
}
.map svg {
	width: 100%;
	height: 100%;
}
.map .layer {
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.form {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}
.circle {
	background-color: red;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.displayCityPosition {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: orange;
    border-radius: 40px;
}
.map-inner-box {
    position: absolute;
    top: 8.5%;
    left: 2.3%;
    right: 2.3%;
    bottom: 6.5%;
/*     border: 1px solid red; */
}

.displayCityName {
    position: absolute;
    font-family: Roboto, sans-serif;
    font-weight: 800;
    color: red;
}
/*
@media screen and (max-width: 1300px) {
    .map {
        width: 90%;
        height: 90%;
        right: 20px;
    }
    
}
*/