
.side-bar {
    float: left;
    width: 20%;
}
.side-bar div {
    padding: 20px 35px;
}
.side-bar div:last-child {
    height: 387px;
}
.side-bar a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 22px; 
    text-align: left; 
}
.side-bar .grey-color {
    color: #d2d2d2;
}


.side-bar .logo {
    text-align: center;
}
/*
.side-bar .logo {
    color: #f8f8f8;
    font-family: "Myriad  Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 70px; 
}
*/

@media screen and (max-width: 1300px){
    .side-bar a {
        font-size: 20px;
    }
}
@media screen and (max-width: 1000px){
    .side-bar a {
        font-size: 16px;
    }
}