@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Chewy');

@import url("./components/side-bar.css");
@import url("./components/login.css");
@import url("./components/game-rules.css");
@import url("./components/city-list.css");
@import url("./components/city-library.css");
@import url("./components/play-game.css");
@import url("./components/before-start.css");
@import url("./components/map-svg.css");
@import url("./components/register.css");
@import url("./components/timer.css");
@import url("./components/popup.css");
@import url("./components/page404.css");
@import url("./components/records-table.css");
@import url("./components/team.css");
@import url("./components/logotype.css");

div {
    box-sizing: border-box;
}

.bg-layer-1 {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: -2;
    min-width: 100%;
    min-height: 100%;
}
.bg-color {
    background-color: #07588a;
}

.text-color-yellow {
    color: #f6ed60;
}

.text-control-color {
    color: #e1f6f4;
}
.text-control-color:hover {
    color: #f6ed60;
}
.wiki-link {
    color: #07588a;
}

